<!-- Modal HTML -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <h4 class="modal-title w-100 mt-3">Are you sure?</h4>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-danger">No</button>
        </div>
      </div>
    </div>
  </div>
