<!--============================== form start =========================== -->
<div class="card">
  <div class="card-header">
    <h3 class="text-center">ADD EMPLOYEE</h3>
  </div>
  <div class="card-body overflow-auto">
    <form [formGroup]="employeeForm" (ngSubmit)="SaveEmployee()">
      <!-- firstname with validation -->
      <div class="mb-1">
        <label for="firstName" class="form-label">FirstName</label>
        <input type="text" class="form-control" id="firstName" placeholder="Enter Your firstName"
          formControlName="firstName"
          [ngClass]="{'is-invalid' : employee['firstName'].invalid && (isSubmited||employee['firstName'].touched || employee['firstName'].dirty),
                      'is-valid' : employee['firstName'].valid && (isSubmited|| employee['firstName'].touched || employee['firstName'].dirty)}">
      </div>
      <div
        *ngIf="employee['firstName'].invalid && (isSubmited||employee['firstName'].touched || employee['firstName'].dirty)"
        class="danger">
        <div *ngIf="employee['firstName'].errors?.['required']" class="text-danger">
          FirstName is required.
        </div>
      </div>
      <!-- end  firstname with validation -->
      <!-- lastname with validation -->
      <div class="mb-1">
        <label for="lastName" class="form-label">lastName</label>
        <input type="text" class="form-control" id="lastName" placeholder="Enter Your lastName"
          formControlName="lastName"
          [ngClass]="{'is-invalid' : employee['lastName'].invalid && (isSubmited||employee['lastName'].touched || employee['lastName'].dirty),
                      'is-valid' : employee['lastName'].valid && (isSubmited|| employee['lastName'].touched || employee['lastName'].dirty)}">
      </div>
      <div
        *ngIf="employee['lastName'].invalid && (isSubmited||employee['lastName'].touched || employee['lastName'].dirty)"
        class="danger">
        <div *ngIf="employee['lastName'].errors?.['required']" class="text-danger">
          lastName is required.
        </div>
      </div>
      <!-- end  lastname with validation -->
      <!-- email with validation -->
      <div class="mb-1">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Your email " formControlName="email"
          [ngClass]="{'is-invalid' : employee['email'].invalid && (isSubmited||employee['email'].touched || employee['email'].dirty),
                      'is-valid' : employee['email'].valid && ( isSubmited||employee['email'].touched || employee['email'].dirty)}">
      </div>
      <div *ngIf="employee['email'].invalid && (isSubmited||employee['email'].touched || employee['email'].dirty)"
        class="danger">
        <div *ngIf="employee['email'].errors?.['required']" class="text-danger">
          Email is required.
        </div>
      </div>
      <!-- end email with validation -->
      <!-- PhoneNo with validation -->
      <div class="mb-1">
        <label for="phoneno" class="form-label">Phone No</label>
        <input type="text" class="form-control" appPhoneNomasking id="phoneNo" placeholder="Enter Your Phone No"
          formControlName="phoneNo"
          [ngClass]="{'is-invalid' : employee['phoneNo'].invalid && (isSubmited||employee['phoneNo'].touched || employee['phoneNo'].dirty),
                      'is-valid' : employee['phoneNo'].valid && ( isSubmited||employee['phoneNo'].touched || employee['phoneNo'].dirty)}">
      </div>
      <div *ngIf="employee['phoneNo'].invalid && (isSubmited||employee['phoneNo'].touched || employee['phoneNo'].dirty)"
        class="danger">
        <div *ngIf="employee['phoneNo'].errors?.['required']" class="text-danger">
          Phone No is required.
        </div>
      </div>
      <!--end  PhoneNo with validation -->
      <!--start  salary with validation -->
      <label for="salary" class="form-label">Salary</label>
      <div class="input-group mb-2">
        <span class="input-group-text">$</span>
        <input type="text" class="form-control" formControlName="salary" aria-label="Amount (to the nearest dollar)"
          [ngClass]="{'is-invalid' : employee['phoneNo'].invalid && (isSubmited||employee['phoneNo'].touched || employee['phoneNo'].dirty),
                'is-valid' : employee['salary'].valid && ( isSubmited||employee['salary'].touched || employee['salary'].dirty)}">
        <span class="input-group-text">.00</span>
      </div>
      <div *ngIf="employee['salary'].invalid && (isSubmited||employee['salary'].touched || employee['salary'].dirty)"
        class="danger">
        <div *ngIf="employee['salary'].errors?.['required']" class="text-danger">
          Salary is required.
        </div>
      </div>
      <div class="d-flex justify-content-between mt-3">
        <button type="button" class="btn btn-danger" (click)=" cancel()">Cancel</button>
        <button type="submit" class="btn btn-success">Save</button>
      </div>

      <!--start  salary with validation -->
    </form>
  </div>
</div>
<!--============================== form end =========================== -->
